{% extends 'base.html' %}


{% block content %}
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <!-- <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in"> -->

        <div id="hero-carousel" class="carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="container position-relative">

            <div class="carousel-item active">
            <div class="carousel-container">
                <h2>خوش آمدید به سایت مدرسه نگاه نو</h2>
                <p>مدرسه نگاه نو یکی از بهترین مدرسه جهان است این مدرسه کلاس های مختلفی در کنار کلاس های درسی دارد مثل کلاس های رباطیک ویترای آلمانی و غیره و در مسابقات رباطیک در جهان مقام دوم را دارد.</p>
                <!-- <a href="#about" class="btn-get-started">Read More</a> -->
            </div>
            </div><!-- End Carousel Item -->

            <!-- <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span> -->
            </a>

            <!-- <ol class="carousel-indicators"></ol> -->

        </div>

        </div>

    </section><!-- /Hero Section -->

    <!-- Facilities Section -->
    <section id="blog-posts" class="blog-posts section">

      <div class="container">
        <div class="row gy-4">
            <h1 class="text-center">امکانات</h1>

          <div class="col-lg-4">
            <article>

              <div class="post-img">
              </div>

              <p class="post-category">امکانات</p>

              <h2 class="title">
                <a href="#">کلاس های هنر</a>
              </h2>

              <div class="d-flex align-items-center">
                <p>در این کلاس ها دانش آموزان خودشان انتخاب میکنند که در چه کلاس هنر باشند</p>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-lg-4">
            <article>

              <div class="post-img">
              </div>

              <p class="post-category">امکانات</p>

              <h2 class="title">
                <a href="#">بازی در کلاس ها</a>
              </h2>

              <div class="d-flex align-items-center">
                <p>در بعضی موارد معلم ها به دانش آموزان استراحت کنند و در کلاس بازی کنند</p>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-lg-4">
            <article>

              <div class="post-img">
              </div>

              <p class="post-category">امکانات</p>

              <h2 class="title">
                <a href="#">حیاط مدرسه</a>
              </h2>

              <div class="d-flex align-items-center">
                <p>بچه ها در زمان زنگ تفریح میتوانند به حیاط مدرسه بروند و در آنجا بازی کنند و بوفه مدرسه در حیاط است
                </p>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-lg-4">
            <article>

              <div class="post-img">
              </div>

              <p class="post-category">امکانات</p>

              <h2 class="title">
                <a href="#">اردو ها</a>
              </h2>

              <div class="d-flex align-items-center">
                <p>اردو های مدرسه خارج از شهر است</p>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-lg-4">
            <article>

              <div class="post-img">
              </div>

              <p class="post-category">امکانات</p>

              <h2 class="title">
                <a href="#">غذا های بوفه</a>
              </h2>

              <div class="d-flex align-items-center">
                <p>غذا های بوفه بسیار خوشمزه و لزیز هستند و به عنوان ناهار هم میشه خورد</p>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-lg-4">
            <article>

              <div class="post-img">
              </div>

              <p class="post-category">امکانات</p>

              <h2 class="title">
                <a href="#">امنیت دانش آموزان</a>
              </h2>

              <div class="d-flex align-items-center">
                <p>در این مدرسه امنیت دانش آموزان هم در حیاط و هم در مدرسه تضمین میشود</p>
              </div>

            </article>
          </div><!-- End post list item -->

        </div>
      </div>

    </section>
    <!-- /Facilities Section -->

    <!-- Research Section -->
    <section id="featured-services" class="featured-services section">
      <h1 class="text-center">کلاس های پژوهشی</h1>

      <br>
      <br>

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-cyan position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>پژوهشی فیزیک</h3>
              </a>
              <p>در این کلاس دانش آموزان پروژه های ساخت و ساز خوبی دارند.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item item-orange position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>مکاترونیک</h3>
              </a>
              <p>در این کلاس دانش آموزان کار های ساخت و سازی انجام میدهند و برای آنها کد می نویسند.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-teal position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>رباتیک</h3>
              </a>
              <p>در این کلاس دانش آموزان پروژه های ساخت و ساز خوبی دارند.</p>
            </div>
          </div>
        </div>

      </div>

    </section>
    <!-- /Research Section -->
     
{% endblock content %}