{% extends 'base.html' %}

{% block content %}
    <!-- Page Title -->
    <div class="page-title dark-background">
        <div class="container position-relative">
          <h1>کادر مدرسه </h1>
          <p>تمام معلمان در مدارس تیزهوشان تدرس می کنند.</p>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="index.html">خانه</a></li>
              <li class="current">معلمان</li>
            </ol>
          </nav>
        </div>
      </div><!-- End Page Title -->
{% endblock content %}